<h1 class="action-heading center">All Articles</h1>
<div class="apple_pagination">
	<%= will_paginate @articles %>
</div>
<%= render 'article', object: @articles %>
<div class="apple_pagination">
	<%= will_paginate @articles %>
</div>
